terraform/environments/test/.terraform.lock.hcl
terraform/environments/test/.terraform/
terraform/environments/test/terraform.tfstate
terraform/environments/test/terraform.tfstate.backup
terraform/environments/test/terraform

